#rating-1:hover path {
  stroke: #c41c11;
}

#rating-2:hover path {
  stroke: #f1812f;
}

#rating-3:hover path {
  stroke: #f7d210;
}

#rating-4:hover path {
  stroke: #91d936;
}

#rating-5:hover path {
  stroke: #3fc411;
}
