@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: radial-gradient(
      80.99% 50% at 50% 50%,
      #aa5656 0%,
      #ce9a87 51.04%,
      #f2deb9 100%
    );
    --background-secondary: radial-gradient(
      125.94% 49.83% at 50% 50%,
      #aac4c0 7.47%,
      #cfd1b2 53.3%,
      #f2deb9 100%,
      #f2deb9 100%
    );

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 39 69% 84%;
    --primary-foreground: 33 12% 36%;

    --secondary: 60 7% 97%;
    --secondary-foreground: 33 12% 36%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 100%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
